:root {
  --bg: #425;
  --bg-alt: #314;
  --fg: #aae;
  --link: #dbe;
  /* --border: 4px solid #849; */
}

html {
  height: 1vh;
  overflow: hidden;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

nav>ul>li {
  display: block;
  padding: 5px;
  margin: 5px;
  flex-wrap: nowrap;
  /* border: var(--border); */
  /* border-collapse: collapse; */
  border-radius: 15px;
  background-color: var(--bg-alt);
  height: fit-content;
}

nav>ul>li>h2 {
  margin-top: 0;
}

button {
  background-color: inherit;
  border: none;
  color: var(--link);
  text-decoration: underline;
  font-size: inherit;
}