html {
  background-color: var(--bg);
  color: var(--fg);
  width: 100%;
}

a {
  color: var(--link);
  text-decoration: underline;
}

a:has(img) {
  text-decoration: none;
}

.gone {
  display: none !important;
}

.small_pp {
  width: 50px;
  height: 50px;
}

hr {
  border: none;
  border-top: var(--border);
}

button {
  background-color: inherit;
  border: none;
  color: var(--link);
  text-decoration: underline;
  font-size: inherit;
}

input[type="text"] {
  background-color:var(--fg);
  color:var(--bg);
  border:var(--border);
  border-radius:10px;
}
