html {
  background-color: var(--bg);
  color: var(--fg);
  width: 100%;
}

a {
  color: var(--link);
  text-decoration: underline;
}

.gone {
  display: none !important;
}

.small_pp {
  width: 50px;
  height: 50px;
}

hr {
  border: none;
  border-top: var(--border);
}